
<div class="caja">
    <div class="component">
        <app-slider></app-slider>
    </div>

<form [formGroup]="form" (ngSubmit)="crearGaleria($event)">
    <div class="subir">
        <p>Subir a Galería</p>
    </div>
    <div class="lineaT">
        <div  class="titulo1">Imagen</div>
    
    </div>
    <div class="linea">
        <input   (change)="uploadFile($event)" class="titulo11" type="file" name="" id="">
    </div>

    <div class="lineaT">
        <div  class="titulo1">Titulo</div>
    </div>
    
    <div class="linea">
        <input  formControlName="titulo" class="esp input1" type="text" name="" id="">
    </div>
    <div class="alinear">
        <div>Descripcion</div>
    </div>
    
    <textarea formControlName="descripcion" name="" id="" cols="30" rows="5"></textarea>
    <div class="botones">
        <button type="submit">Guardar Cambios</button>
    </div>


</form>
</div>