
.cuadro{
    height: 75vh;
    width: 100%;
    background: url(/assets/img/suelo.jpg)no-repeat;
    background-size: cover;
    /* background-color: transparent; */
}
.cuadro img{
    height: 100%;
    width: 100%;
}
nav{
    width: 100%;
    height: 120px;
    background-color: transparent;
    display: flex;
}
.izq, .der{
    width: 50%;
}
.izq{
    display: flex;
    justify-content: flex-start;
    margin-left: 3em;
    align-items: center;
    background-color: transparent;
}
.izq img{
    width: 210px;
    height: 50px;
}
.der{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    color: white;
    margin-right: 3em;
}
.btn{
    background-color: transparent;
    /* border-bottom: 1px solid blue; */
    font-size: 18px;
    color: white;
    margin-right: 0.5em;
    cursor: pointer;
    padding: 0.4em;
}
.btn2{
    background: rgb(91, 91, 235);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    padding: 0.4em;
    cursor: pointer;
}
/***************** SECTION Y NAV *****************/
/***************** SECTION SEGUNDA ***************/

.segunda{
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hor{
    height: 90%;
    width: 80%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hora{
    font-size: 32px;
    font-weight: bold;
    color: #152194;
    
    margin-bottom: 2em;
}
/******************* SECTION SEGUNDA ******************/
/******************* SECTION TERCERA ******************/
.tercera{
    height: 70vh;
    width: 100%;
    background-color: #292A3A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.porta{
    height: 450px;
    width: 600px;
    
}
.porta img{
    height: 100%;
    width: 100%;
}
.nosotros{
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.text{
    font-size: 54px;  
    font-weight: bold;
    color: grey;    
}
.blanco{
    color: white;
    border-bottom: 3px solid white;
   
}
.grey{
    color: grey;
    
    margin-top: 1em;
    padding-bottom: 0.5em;
}
.info{
    width: 80%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 2.7em;
    margin-top: 1em;
    line-height : 30px;
}
.info p{
    margin-top: 1em;
}
/******************* SECTION TERCERA ******************/
/******************* SECTION CUARTA  ******************/
.cuarta{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fot img{
    height: 100%;
    width: 100%;
}
.fot{
    width: 40%;
    height: 55%;
}
.exp{ 
    width: 40%;
    height: 55%;
}
.titu{
    font-size: 30px;
    color: grey;
    font-weight: bold;
    }
.sin{
    margin-top: 0.5em;
}
.medi{
    width: 80%;
    font-size: 24px;
    color: black;
    margin-top: 2em;
    
}
.home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
.socio{
    margin-top: 1em;
    color: grey;
    font-weight: bold;
    font-size: 14px;
}
span{
    margin-top: 3em;
}
/******************** QUINTA ********************/
.quinta{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #292A3A;

}
.centro{
    height: 100%;
    width: 50%;
}
.galeria{
    font-size: 32px;
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}

/******************** QUINTA ********************/
/******************** COMENT ********************/
.coment{
    height: 90vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    height: 50px;
    width: 70%;
    margin-top: 1em;
    border-radius: 10px;
    font-size: 24px;
    padding:10px;
    border: 1px solid grey;
}
textarea{
    width: 70%;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
    margin-top: 1em;
    line-height : 30px;
    border: 1px solid grey;
}
.tituloComentario{
    color: #D8D8D9;
    font-size: 32px;
}
.email, .textComent{
    width: 70%;
    color: white;
    font-size: 20px;
}
button{
    margin-top: 1em;
    border-radius: 40px;
    height: 50px;
    width: 50%;
    background-color: #292A3A;

    color: white;
}
/******************** COMENT ********************/
 @media screen and (max-width: 1280px){
    
    .tercera{
       
        height: 80vh;
    }
    .porta{
        height: 300px;
        width: 400px;
        
    }
    .porta img{
        height: 100%;
        width: 100%;
    }
    .nosotros{
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
        height: 300px;
        width: 500px;  
    }
    .der{
        font-size: 24px;
        padding: 1em;
    }
    .text{
        font-size: 24px;
        margin-left: 2em;
    }
    .info{  
        font-size: 18px;
        line-height : 30px;
        margin-top: 0em;
    }
    .fot{
        width: 350px;
        height: 300px;
    }
    .exp{ 
        width: 500px;
        height: 300px;
    }
    .medi{
        font-size: 20px;
        line-height : 30px;
    }
    .titu{
        font-size: 24px;
        color: grey;
        font-weight: bold;
        }
} 
@media screen and (max-width: 980px){
    .tercera{
       flex-direction: column;
        height: 90vh;
    }
    .btn{
       display: none;
    }
    .btn2{
        display: none;
    }
    .porta{
        height: 300px;
        width: 450px;
        
    }
    .porta img{
        height: 100%;
        width: 100%;
    }
    .nosotros{
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
        height: 300px;
        width: 550px; 
        margin-top: 2em; 
    }
    .der{
        font-size: 32px;
        padding: 1em;
    }
    .text{
        font-size: 24px;
        margin-left: 2em;
    }
    .info{  
        font-size: 18px;
        line-height : 30px;
    }
    .cuarta{
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fot{
        width: 450px;
        height: 300px;
        margin-top: 5em;
    }
    .home{
        width:450px;
    }
    .exp{ 
        width: 450px;
        height: 200px;
    }
    .medi{
        width: 100%;
        font-size: 24px;
        line-height : 30px;
    }
    
} 
@media screen and (max-width: 980px){
    .izq img{
        width: 140px;
        height: 30px;
    }
}





