<section class="cuadro">
    <nav>
        <div class="izq"><img src="assets/img/logo_small.png" alt=""></div>
        <div class="der">
            <div class="btn" routerLink="/auth">iniciar sesión</div>
            <div class="btn2" routerLink="/auth/registro">unirse</div>
        </div>
    </nav>
</section>
<section class="segunda">
    <div class="hor">
        <p class="hora">HORARIO DE APERTURA DEL CLUB</p>
        <p>De lunes a jueves: de 8:30 a 22:30 h.</p>
        <p>viernes : de 8:30 a 22:00 h.</p>
        <p>sábados y domingos : de 10:00 a 14:00 h.</p>
    </div>
</section>
<section class="tercera">
    <div class="porta">
        <img src="assets/img/cordones.jpg" alt="">
    </div>
    <div class="nosotros">
        <div class="text">
           <span class="blanco">INFORMACIÓN </span> <div class="grey">DEL CLUB</div> 
        </div>
        <div class="info">
        <p>Más de 1.500 m² de instalaciones.</p>
        <p>Más de 200 puestos de entrenamiento.</p>
        <p>Excelentes profesionales con alta cualificación y experiencia.</p>
        <p>Clases colectivas de última tendencia.</p>
        </div>
        
    </div>
</section>
<section class="cuarta">
   
    <div class="exp">
        <div class="home">
            <div class="titu">
               RESULTADOS INCREIBLES<div class="sin"> SIN SALIR DE CASA</div>
            </div>
            <p class="medi">
                Ponte en forma con cientos de videos de ejercicio para hacer en casa. Con rutinas de fuerza, cardio, yoga, baile y hasta meditación guiadas por los mejores instructores
            </p>
            <p class="socio">*Si ya eres socio puedes acceder directamente desde la APP.</p>
        </div>
    </div>
    <div class="fot">
        <img src="assets/img/casa.jpg" alt="">
    </div>
</section>