<!-- <div class="container">
  <div class="caja" *ngFor="let item of clases">
    <div class="titulo"> {{item.nombre}}</div>
  </div>
  <div class="imagen"><img src="" alt=""></div>
</div>
   -->

   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <div class="container">
     <div class="row">
       <div class="card-wrapper  col-lg-4 col-md-6 col-xs-12" *ngFor="let item of clases">
         <div class="card">
           <div class="card-img-wrapper">
             <img class="card-img-top" [src]="item.imagen" alt="Card image cap">
           </div>
           <div class="card-body">
             <h5 class="card-title">{{item.nombre}}</h5>
             <div class="card-content">
               <p class="card-text">{{item.descripcion}}</p>
               <a href="" class="btn btn-primary">Me apunto!</a>
             </div>
           </div>
         </div>
       </div>
      
       
     
     </div>
   </div>
   
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>