
    <!-- This is an example component -->
 <div class="font-sans ">
            <div class="relative  min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
                <div class="relative sm:max-w-sm w-full ">
                    <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
                    <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
                    <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                        <label for="" class="block text-sm text-center text-gray-600 font-semibold">
                            Login
                        </label>
                        <form  action="#" class="mt-10" autoComplete="on" [formGroup]="loginForm" (ngSubmit)="logearUsuario($event)">
                                           
                            <div>
                                <input type="email" formControlName="email" placeholder="Email" class="mt-1 placeholder-gray-700 w-full  border-none bg-gray-100 h-11  rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                            </div>
                
                            <div class="mt-7" >                
                                <input type="password" formControlName="password" placeholder="Contraseña " class="mt-1 placeholder-gray-700 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                            </div>
                
                            <div class="mt-7">
                                <button class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                    Login
                                </button>
                            </div>
                            <div class="mt-7">
                                <div class="flex justify-center items-center">
                                    <label class="w-full text-sm text-gray-600">¿Eres nuevo?</label>
                                    <a routerLink="./registro" class="w-full text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                        Crea una cuenta
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>


