<div class="container">

    <div class="users">
        <div class="imag"><img src="assets/img/default_user.png" alt=""></div>
        <div class="cant"><p>Total Users</p><p class="cantidad">{{usuarios.length}}</p></div>
    </div>
    <div class="entrenadores">
        <div class="image"><img src="assets/img/coach.png" alt=""></div>
        <div class="cant"><p>Total Profesores</p><p class="cantidad">{{profesores.length}}</p></div>
    </div>
    <div class="entrenadores">
        <div class="image"><img src="assets/img/coach.png" alt=""></div>
        <div class="cant"><p>Total Clases</p><p class="cantidad">{{clases.length}}</p></div>
    </div>
    <div class="entrenadores">
        <div class="image"><img src="assets/img/coach.png" alt=""></div>
        <div class="cant"><p>Total Comentarios</p><p class="cantidad">{{comentarios.length}}</p></div>
    </div>
</div>
