<div class="container">

    <div class="users">
        <div class="imag"><img src="assets/img/default_user.png" alt=""></div>
        <div class="cant"><p>Total Usuarios</p><p class="cantidad">{{usuarios.length}}</p></div>
    </div>
    <div class="entrenadores">
        <div class="image"><img src="assets/img/coach.png" alt=""></div>
        <div class="cant"><p>Total Profesores</p><p class="cantidad">{{profesores.length}}</p></div>
    </div>
    <div class="work">
        <div class="image2"><img src="assets/img/workout.png" alt=""></div>
        <div class="cant"><p>Total Clases</p><p class="cantidad">{{clases.length}}</p></div>
    </div>
    <div class="entrenadores">
        <div class="image"><img src="assets/img/conversation.png" alt=""></div>
        <div class="cant"><p>Total Comentarios</p><p class="cantidad">{{comentarios.length}}</p></div>
    </div>
    <div class="entrenadores">
        <div class="image3"><img src="assets/img/galeria.png" alt=""></div>
        <div class="cant"><p>Total Galería</p><p class="cantidad">{{galerias.length}}</p></div>
    </div>
    <div class="entrenadores">
        <div class="image4"><img src="assets/img/homeE.webp" alt=""></div>
        <div class="cant"><p>Total Ejercicios</p><p class="cantidad">{{ejercicios.length}}</p></div>
    </div>
</div>
