<div class="todo">
    <section class="fle">
    
        <div class="video"><iframe [src]="video()" width="100%" height="100%"
                frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="titulo">
            Titulo
        </div>
        <div class="desc">
            
            <div>
                <p class="det">{{detalle}}</p>
            </div>
        </div>
    </section>
    <section class="cla" ><!---->
        <div class="clase" ><!---->
            <ul  ><!-- -->
                
                    <div class="btn" *ngFor="let item of ejercicios" (click)="pasaValor(item.link, item.detalle)">
                     {{item.nombre}}
                    </div>
                
            </ul>
        </div>
    
    </section>
    </div>